doctype html
html
    include ./include/head.jade
    body
        main 
            div(id='userbox')                
                div(id='section-1')
                    img(src='../img/photoimg.png')                    
                div(id='section-2')
                    ul(id='inputul')
                        li
                            p EMAIL ADDRESS
                        li
                            input(type='text' placeholder='Enter your email adress' id='emailbox' class='inputbox')
                            label
                                span(class='popup-email' id='foremail') 
                                    p(class='popupbox' id='required-email') required
                                    div(class='starid')
                                        p *   
                        li
                            p PASSWORD
                        li
                            input(type='password' placeholder='Enter your password' id='passwordbox' class='inputbox')
                            label
                                span(class='popup-password' id='forpassword') 
                                    p(class='popupbox' id='required-password') required
                                    div(class='starid')
                                        p *                                     
                                    
                    ul(id='checkboxul' )
                         li(class='myCheckBox')
                            input(type='checkbox' id="c1")
                            label(for='c1')                        
                                span 
                         li
                            p(id='test123') REMEMBER ME
                                
                         //li
                            p(id='remp') REMEMBER ME
                div(id='section-3')
                    ul
                        li 
                            a(href='#') Forgotten password?
                        li
                            input(type='submit' value='LOGIN' id='loginbutton')
    include ./include/footer.jade