doctype html
html
    include ./include/head.jade
    body
        main
            div(class='userbox' id='smalleruserbox')
                div(class='section-1')
                    div(class='section1-holder')
                        img(id='resetpasswordimg' src='../img/photoimg.png')  
                        p RESET PASSWORD
                                        
                div(class='section-2')
                    form(class='form' id='form1')
                        ul(class='unorderlist' id='resetpasswordul')
                            li
                                p(id='first-p') Hey, it happens to everyone.
                                p Just let us know what email address you use to login and we'll send you an email with instructions.
                                 
                            li
                                p(id='email-p') EMAIL ADDRESS
                            li
                                input(type='text' placeholder='Enter your email adress' id='resetbox' class='inputbox')
                                label
                                    span(class='popup-reset' id='forReset') 
                                        p(class='popupbox' id='required-reset') required
                                        div(class='starid')
                                            p(id='white-star-section3') *   
                div(class='section-3')                     
                     div(class='section3-box')                         
                         a(href='../index.html' id='Cancelbutton') CANCEL      
                         a(class='buttontype' id='resetbutton') RESET PASSWORD 
                                       
    include ./include/footer.jade