@import 'variables';
* {
    font-family: $font-stack;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 10px;
}

body {
    main {
        background-image: url('../img/background.png');
        background-size: cover;
        height: 100vh;
        width: 100%;
        #userbox {
            height: 300px;
            width: 400px;
            position: absolute;
            bottom: 50%;
            right: 50%;
            transform: translate(50%, 50%);
            box-shadow: 0 8px 8px rgba(0,0,0,0.2), 0 8px 20px 0 rgba(0,0,0,0.2);
            #section-1 {
                height: 19%;
                background-color: #0094bb;
                img {
                    height: 75px;
                    position: absolute;
                    top: -8.5px;
                    left: 33.3px;
                }
            }
            #section-2 {
                height: 60%;
                background-color: #f9f9f9;
                #inputul {
                    margin-left: 33px;
                    li {
                        display: block;
                        .inputbox {
                            padding-right: 205px;
                            padding-top: 8px;
                            padding-left: 10px;
                            padding-bottom: 8px;
                            border: 1px solid #acacac;
                            border-radius: 3px 3px 3px 3px;
                            box-shadow: inset 0px 0px 4px rgba(81, 81, 81, 0.6);
                        }
                        label {
                            color: aliceblue;
                        }
                        span {
                            position: absolute;
                            width: 0;
                            height: 0;
                            border-top: 22px solid #0094bb;
                            border-left: 30px solid transparent;
                            border-right: 5px solid #0094bb;
                            border-bottom: 3px solid transparent;
                            border-radius: 0px 3px 0px 0px;
                            transform: translate(-100%, 0);
                            cursor: pointer;
                            
                            .popupbox::after {
                                visibility: hidden;
                                content: "";
                                position: absolute;
                                top: 100%;
                                left: 50%;
                                margin-left: -5px;
                                border-bottom: 5px solid transparent;
                                border-right: 5px solid transparent;
                                border-top: 5px solid #0094bb;
                                border-left: 5px solid transparent;
                            }
                            .popupbox {
                                visibility: hidden;
                                border: 1px solid #0094bb;
                                border-radius: 2px;
                                position: absolute;
                                font-size: 8px;
                                padding: 3px 7px 3px 7px;
                                top: -45px;
                                right: -20px;
                                margin: 0;
                                color:white;
                                background-color: #0094bb;

                            }
                            .show {
                                visibility: visible;
                            }
                            .show::after{
                                visibility: visible;
                            }
                            .starid {                                  
                                position: absolute;
                                width: 10px;
                                height: 10px;
                                top:-22px;
                                left:-9px;
                                p{
                                    color: white;
                                    font-size: 18px;
                                    padding:0;
                                }
                            }
                        }
                    }
                    p {
                        padding-top: 20px;
                        padding-bottom: 3px;
                        color: #7d7d7d;
                        font-family: $font-SemiBold;
                    }
                }
            }
            #checkboxul {
                margin-top: 15px;
                margin-left: 33px;
                li {
                    display: inline-block;
                }
                .myCheckBox {
                    #c1 {
                        display: none;
                    }
                    #c1 + label {
                        color: #f2f2f2;
                        span {
                            display: inline-block;
                            width: 25px;
                            height: 25px;
                            vertical-align: middle;
                            background: url(../img/checkbox-1.png);
                            background-repeat: no-repeat;
                            cursor: pointer;
                        }
                    }

                    #c1:checked + label span {
                        background: url(../img/checkbox.png);
                    }
                }


                p {
                    margin-left: 5px;
                    margin-bottom: 6px;
                    color: #7d7d7d;
                    font-family: $font-SemiBold;
                }
            }
        }

    }
    #section-3 {
        height: 21%;
        background-color: #e5e5e5;
        ul {
            margin-left: 180px;
            li {
                margin: 5px;
                margin-top: 14px;
                display: inline-block;
                a {
                    text-decoration: none;
                    color: #0094bb;
                    font-family: $font-SemiBold;
                }
                #loginbutton {
                    padding: 8px;
                    padding-left: 16px;
                    padding-right: 16px;
                    border: 1px solid #acacac;
                    border-radius: 3px 3px 3px 3px;
                    background-color: #ffffff;
                    color: #acacac;
                }
            }
        }
    }

}
