@mixin respond-to-media($point){
    
    $bp-phoneview: "(max-width: 420px)";
    $bp-tabletview: "(max-width: 769px)";
    $bp-tabletlandscapeview: "(max-width: 1024px)";
    
    @if $point == tablet-landscape-view {
        @media only screen and #{$bp-tabletlandscapeview} { @content; }
    }
    @else if $point == tablet-view {
        @media only screen and #{$bp-tabletview} { @content; }
    }
    @else if $point == phone-view{
        @media only screen and #{$bp-phoneview} { @content; }
    } 
}
    